<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app" >
        <ul>
            <li v-for="item in hobby">{{item}}</li>
            <!-- 下标 -->
            <li v-for="(item,index) in hobby">{{index}} {{item}}</li>
        </ul>
    </div>

    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
               hobby:['打篮球','玩游戏','睡觉']
            }
        })
    </script>
</body>

</html>