<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id='app'>
        考试分数<input type="text" v-model="score">
        <div>
            <p v-if="score>=100">
                奖励整只鸡
            </p>
            <p v-else-if="score>80">奖励鸡腿</p>
            <p v-else>奖励藤条</p>
        </div>
    </div>
    <script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js'></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                score:100
            }
        })
    </script>
</body>

</html>